* {
    font-size: 20px;
}

h1 {
    font-size: 55px;
    margin-top: 1rem;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;

    &.fixed-button {
        width: 120px;
    }

    &:hover {
        background-color: #2c5a2e;
    }
}

.input-wrap {
    text-align: left;
    p {
        margin: 0px;
    }
}
